* {
padding: 0px;
margin: 0px;
}

.cf:before, .cf:after {
content: "";
display: table;
}

.cf:after {
clear: both;
}

.cf {
zoom: 1;
}

html,body {
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
font-size: 12px;
font-family: sans-serif;
}

.sigma-parent {
position: relative;
height: 100%;
}

.sigma-expand {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
background-color: #eee;
    background-position: center center;
    background-repeat: no-repeat;
}

canvas#sigma_bg_1 {
display: none;
}

#attributepane {
display: none;
position: absolute;
top: 10%;
right: 0px;
width: 256px;
background-color: #fff;
padding: 18px 18px 8px 18px;
margin: 0;
margin-top:5px;
border: 1px solid #ccc;
word-wrap: break-word;
background-color:rgba(255,255,255,0.7);
}

#attributepane .returntext {
color: #000;
cursor: pointer;
margin-top: 5px;
height: 14px;
border-top: 2px solid #002147;
padding: 14px 0 10px 0;
}

#attributepane .headertext {
color: #000;
margin-bottom: 5px;
height: 14px;
border-bottom: 2px solid #002147;
padding: 14px 0 10px 0;
font-size:16px;
font-weight:bold;
}


#attributepane .returntext em {
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
display: block;
width: 20px;
height: 20px;
background-position: -91px -13px;
float: left;
}

#attributepane .returntext span {
padding-left: 5px;
display: block;
width: 185px;
font-size: 12px;
}

#attributepane .close {
padding-left: 14px;
margin-top: 10px;
}

#attributepane .close .c {
border-top: 2px solid #002147;
padding: 10px 0 14px 0;
}

#attributepane .close em {
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
background-position: -11px -13px;
display: block;
width: 24px;
height: 16px;
float: left;
}

#attributepane .close span {
display: block;
width: 151px;
float: left;
}

#attributepane .nodeattributes {
	height:400px;
	overflow:scroll;
}

#attributepane .name {
font-size: 14px;
cursor: default;
padding-bottom: 18px;
padding: 18px;
}

#attributepane .data {

}

#attributepane .data .plus {
background-repeat: no-repeat;
background-image: url('../images/sprite.png');
background-position: -171px -122px;
width: 22px;
height: 20px;
float: left;
display: block;
}

#attributepane .link {
overflow: auto;
padding: 0 0 0 4px;
}

#attributepane .link li {
padding-top: 2px;
}

#attributepane .p {
padding: 0 0 0 16px;
font-weight: bold;
}

#jisc {
width: 246px;
height: 94px;
position:absolute;
bottom:5px;
left:8px;
background-image: url('../images/OIIat10_web_large.png');
background-repeat: no-repeat;
}

#jisc span {
	display:none;
}

#maintitle {
width: 246px;
height: 185px;
background-image: url('../../images/jisc-logo.png');
background-repeat: no-repeat;
}

#maintitle h1 {
display: none;
}

#mainpanel {
position: absolute;
top: 0px;
left: 0px;
height:100%;
background:#fff;
background-color:rgba(255,255,255,0.7);
border:1px solid #ccc;
overflow:scroll;
}

#mainpanel .b1 {
padding: 13px 0 0 0;
}

#mainpanel .col {
width: 240px;
padding: 18px 18px 8px 18px;
margin: 0;
}

#title {
font-weight: bold;
}

#titletext {
padding: 6px 0 10px 0;
border-bottom: 2px solid #002147;
}

#legend {
padding: 0 0 3px 2px;
border-bottom: 2px solid #002147;
}

#search input[name=search] {
border: 1px solid #002147;
background-color: #fff;
padding: 5px 7px 4px 7px;
width: 205px;
color: #000;
}

#search input.empty {
color: #000;
}

#search .state {
width: 14px;
height: 14px;
background-image: url('../images/sprite.png');
float: right;
margin-top: 6px;
cursor: pointer;
background-position: -131px -13px;
}

#search .state.searching {
background-position: -11px -13px;
}

#search .results {
display: none;
margin: 8px 0 8px 0;
}

#search .results b {
padding-left: 2px;
}

#search .results a {
padding: 1px 2px;
display: block;
cursor: pointer;
text-decoration: none;
color: #000;
}

#search .results a:hover {
background-color: #002147;
color: #fff;
}

#attributeselect {
margin: 13px 0 0 0 ;
}

#attributeselect .select {
border: 1px solid #002147;
padding: 5px 7px 4px 7px;
color: #fff;
cursor: pointer;
background-color: #002147;
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
background-position: 200px -144px;
}

#attributeselect .close {
background-position: 172px -8px;
}

#attributeselect .list {
display: none;
border: 1px solid #002147;
padding: 6px;
height: 300px;
width: 191px;
position: absolute;
overflow: auto;
background-color: #fff;
}

#attributeselect .list a {
display:block;
padding: 2px;
text-decoration: none;
color: #000;
}

#attributeselect .list a:hover {
background-color: #002147;
color: #fff;
}

#mainpanel dl {
margin-top: 13px;
}

#mainpanels dt {
width: 20px;
height: 20px;
float: left;
background-repeat: no-repeat;
background-image: url('../images/sprite.png');
}

#legend dl {
margin-top: 9px;
}

#legend dd {
margin-bottom: 8px;
color: #000;
}

#intro .infos dd {
margin-bottom: 12px;
}

#intro .node {
background-position: -11px -119px;
}

#intro .edge {
background-position: -51px -122px;
}

#intro .regions {
background-position: -171px -13px;
}

#intro .download {
background-position: -51px -13px;
}

#intro .plus {
background-position: -171px -122px;
}

#copyright {
color: #000;
font-size: 10px;
position: absolute;
bottom: 5px;
right: 15px;
}

#copyright a {
color: #000;
}

#copyright .explanation {
display: none;
}

#zoom {
position: absolute;
display:block;
bottom: 20px;
left: 290px;
z-index:999;
line-height:0.5em;
}

#zoom .z {
	background:#fff;
width: 50px;
height: 50px;
background-repeat: no-repeat;
background-image: url('../images/sprite.png');
cursor: pointer;
outline:1px solid #ccc;
}

#zoom .y {
background:#fff;
width: 50px;
height: 50px;
background-repeat: no-repeat;
background-image: url('../images/zoom_reset.png');
cursor: pointer;
outline:1px solid #ccc;
background-position:center; 
}

#zoom .z[rel=in] {
background-image: url('../images/zoom_in.png');
background-position:center; 
}

#zoom .z[rel=out] {
background-image: url('../images/zoom_out.png');
background-position:center; 
}

.line {
font-size: 12px;
color: #002147;
text-decoration: none;
font-weight: bold;
cursor: pointer;
cursor: hand;
}

#information {
display: none;
background: #fff;
padding: 1px 10px 10px 10px;
}

#information h3 {
margin: 14px 0 4px 0;
}

#information p {
margin: 0 0 4px 0;
}

#information .button {
width: 14px;
height: 14px;
background-image: url('../images/sprite.png');
border: 1px solid #002147;
display: inline-block;
*display: inline;
*zoom: 1;
}

#information .button span {
display: none;
}

#information .button.plus {
background-position: -91px -122px; 
}

#information .button.moins {
background-position: -131px -122px;
}

#minify {
background-color: #fff;
padding: 4px 4px 4px 25px;
cursor: pointer;
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
background-position: -167px -118px;
position: absolute;
top: 65px;
left: 15px;
display: none;
}

#minifier {
position: absolute;
width: 20px;
height: 16px;
background-image: url('../images/sprite.png');
background-repeat: no-repeat;
background-position: -45px -147px;
cursor: pointer;
display: none;
}