* {
padding: 0px;
margin: 0px;
}

.cf:before, .cf:after {
content: "";
display: table;
}

.cf:after {
clear: both;
}

.cf {
zoom: 1;
}

html,body {
width: 100%;
height: 100%;
margin: 0px;
padding: 0px;
font-size: 12px;
font-family: sans-serif;
}

.sigma-parent {
position: relative;
height: 100%;
}

.sigma-expand {
position: absolute;
width: 100%;
height: 100%;
top: 0;
left: 0;
b-ackground-color: #009BE1;
    background-color: #1b76a3;
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
}

canvas#sigma_bg_1 {
display: none;
}

#info {
display: none;
position: absolute;
top: 44px;
right: 15px;
width: 236px;
}

#info .retour {
color: #fff;
cursor: pointer;
margin-bottom: 10px;
height: 14px;
}

#info .retour em {
background-image: url('assets/images/sprite.png');
background-repeat: no-repeat;
display: block;
width: 20px;
height: 20px;
background-position: -91px -13px;
float: left;
}

#info .retour span {
padding-left: 5px;
display: block;
width: 185px;
font-size: 12px;
}

#info .fermer {
padding-left: 14px;
margin-top: 10px;
}

#info .fermer .c {
border-top: 2px solid #009be1;
padding: 10px 0 14px 0;
width: 196px;
}

#info .fermer em {
background-image: url('assets/images/sprite.png');
background-repeat: no-repeat;
background-position: -11px -13px;
display: block;
width: 24px;
height: 16px;
float: left;
}

#info .fermer span {
display: block;
width: 151px;
float: left;
}

#info .donnees {
background-color: #fff;
}

#info .name {
font-size: 14px;
cursor: default;
padding-bottom: 18px;
padding: 18px;
}

#info .data {
padding: 0px 18px 18px 18px;
}

#info .data .plus {
background-repeat: no-repeat;
background-image: url('assets/images/sprite.png');
background-position: -171px -122px;
width: 22px;
height: 20px;
float: left;
display: block;
}

#info .link {
overflow: auto;
padding: 0 0 0 4px;
}

#info .link li {
padding-top: 2px;
}

#info .link li.reseau {
padding-top: 8px;
}

#info .membre {
cursor: pointer;
padding-left: 14px;
}

#info .reseau {
padding-top: 18px;
font-weight: bold;
}

#info .reseau .puce {
float: left;
height: 8px;
margin-right: 5px;
margin-top: 19px;
width: 8px;
}

#info .reseau .n {
border-top: 2px solid #009be1;
padding-top: 13px;
float: left;
width: 196px;
}

#info .membre a {
text-decoration: none;
color: #000;
display: block;
padding: 1px;
}

#info .membre a:hover {
color: #fff;
background-color: #009be1;
}

#info .p {
padding: 0 0 0 16px;
font-weight: bold;
}

#greenpeace {
width: 158px;
height: 25px;
position: absolute;
bottom: 10px;
right: 10px;
background-image: url('assets/images/sprite.png');
background-repeat: no-repeat;
background-position: -11px -37px;
}

#greenpeace a {
display: block;
width: 158px;
height: 25px;
}

#greenpeace span {
display: none;
}

#intro {
position: absolute;
top: 65px;
left: 15px;
}

#intro .b1 {
padding: 13px 0 0 0;
}

#facenuke {
position: absolute;
top: 15px;
left: 15px;
width: 212px;
height: 35px;
background-image: url('assets/images/sprite.png');
background-position: -11px -62px;
background-repeat: no-repeat;
}

#facenuke h1 {
display: none;
}

#intro .col {
background-color: #fff;
width: 204px;
padding: 18px 18px 8px 18px;
margin: 0 0 0 4px;
}

#titre {
font-weight: bold;
}

#presentation {
padding: 6px 0 10px 0;
border-bottom: 2px solid #009be1;
}

#legende {
padding: 0 0 3px 2px;
border-bottom: 2px solid #009be1;
}

#recherche input[name=recherche] {
border: 1px solid #009be1;
background-color: #fff;
padding: 5px 7px 4px 7px;
width: 164px;
color: #000;
}

#recherche input.empty {
color: #000;
}

#recherche .state {
width: 14px;
height: 14px;
background-image: url('assets/images/sprite.png');
float: right;
margin-top: 6px;
cursor: pointer;
background-position: -131px -13px;
}

#recherche .state.searching {
background-position: -11px -13px;
}

#recherche .resultats {
display: none;
margin: 8px 0 8px 0;
}

#recherche .resultats b {
padding-left: 2px;
}

#recherche .resultats a {
padding: 1px 2px;
display: block;
cursor: pointer;
text-decoration: none;
color: #000;
}

#recherche .resultats a:hover {
background-color: #009be1;
color: #fff;
}

#cluster {
margin: 13px 0 0 0 ;
}

#cluster .select {
border: 1px solid #009be1;
padding: 5px 7px 4px 7px;
width: 189px; //164px;
color: #fff;
cursor: pointer;
background-color: #009be1;
background-image: url('assets/images/sprite.png');
background-repeat: no-repeat;
background-position: 172px -144px;
}

#cluster .close {
background-position: 172px -8px;
}

#cluster .list {
display: none;
border: 1px solid #009be1;
padding: 6px;
height: 300px;
width: 191px;
position: absolute;
overflow: auto;
background-color: #fff;
}

#cluster .list a {
display:block;
padding: 2px;
text-decoration: none;
color: #000;
}

#cluster .list a:hover {
background-color: #009be1;
color: #fff;
}

#intro dl {
margin-top: 13px;
}

#intro dt {
width: 20px;
height: 20px;
float: left;
background-repeat: no-repeat;
background-image: url('assets/images/sprite.png');
}

#legende dl {
margin-top: 9px;
}

#legende dd {
margin-bottom: 8px;
color: #000;
}

#intro .infos dd {
margin-bottom: 12px;
}

#intro .node {
background-position: -11px -119px;
}

#intro .edge {
background-position: -51px -122px;
}

#intro .regions {
background-position: -171px -13px;
}

#intro .download {
background-position: -51px -13px;
}

#intro .plus {
background-position: -171px -122px;
}

#copyright {
color: #fff;
font-size: 10px;
position: absolute;
bottom: 5px;
left: 15px;
}

#copyright a {
color: #fff;
}

#copyright .expl {
display: none;
}

#zoom {
position: absolute;
top: 0px;
left: 249px;
}

#zoom .z {
width: 18px;
height: 14px;
background-repeat: no-repeat;
background-image: url('assets/images/sprite.png');
margin-bottom: 5px;
cursor: pointer;
}

#zoom .z[rel=in] {
background-position: -91px -122px;
}

#zoom .z[rel=out] {
background-position: -131px -122px;
}

.lien {
font-size: 12px;
color: #009be1;
text-decoration: none;
font-weight: bold;
cursor: pointer;
cursor: hand;
}

#plus {
display: none;
background: #fff;
padding: 1px 10px 10px 10px;
}

#plus h3 {
margin: 14px 0 4px 0;
}

#plus p {
margin: 0 0 4px 0;
}

#plus .bouton {
width: 14px;
height: 14px;
background-image: url('assets/images/sprite.png');
border: 1px solid #009be1;
display: inline-block;
*display: inline;
*zoom: 1;
}

#plus .bouton span {
display: none;
}

#plus .bouton.plus {
background-position: -91px -122px; 
}

#plus .bouton.moins {
background-position: -131px -122px;
}

#minify {
background-color: #fff;
padding: 4px 4px 4px 25px;
cursor: pointer;
background-image: url('assets/images/sprite.png');
background-repeat: no-repeat;
background-position: -167px -118px;
position: absolute;
top: 65px;
left: 15px;
display: none;
}

#minifier {
position: absolute;
width: 20px;
height: 16px;
background-image: url('assets/images/sprite.png');
background-repeat: no-repeat;
background-position: -45px -147px;
cursor: pointer;
display: none;
}